@keyframes jump-out {
    100% {
        background-position: -420px;
    }
}

@keyframes tease {
    100% {
        background-position: -140px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    cursor: url('../images/pointer.png'), auto;
}

body {
    display: flex;
    justify-content: center;
    background-color: #3F3851;
}

.controls {
    margin: 20px 0px;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
        padding: 2px 5px;
    }
}

.bracket-frame {
    width: 480px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: url(../images/background.png) top left / cover no-repeat;
    padding: 50px;

    .bracket {
        width: 70px;
        height: 70px;
        margin: 1px;
        background: url('../images/wake-up.png') left center;

        // &:hover {
        //     background: url('../images/teasing.png') left center;
        //     animation: tease 0.5s steps(2) infinite;
        // }

        &.active {
            // background-color: red;
            animation: jump-out 1s steps(6) forwards;

        }

        &.teasing {
            background: url('../images/teasing.png') left center;
            animation: tease 0.5s steps(2) infinite;
        }


    }
}