@keyframes jump-out {
    100% {
        background-position: -420px;
    }
}

@keyframes tease {
    100% {
        background-position: -210px;
    }
}

@keyframes coin {
    100% {
        background-position: -140px;
    }
}

@keyframes up {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: -100px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    cursor: url('../images/pointer.png'), auto;
}

body {
    display: flex;
    justify-content: center;
    background-color: #3F3851;
}

.controls {
    margin: 20px 0px;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
        padding: 2px 5px;
    }
}

.bracket-frame {
    width: 480px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: url(../images/background.png) top left / cover no-repeat;
    padding: 50px;

    &.pointer-down {
        cursor: url('../images/pointer2.png'), auto;
    }

    .bracket {
        width: 70px;
        height: 70px;
        margin: 1px;
        background: url('../images/wake-up.png') left center;
        position: relative;

        &.active {

            animation: jump-out 1000ms steps(6) forwards;

        }

        &.teasing {

            animation: tease 800ms steps(3) infinite;
        }

        &.coin:before {
            content: '';
            width: 28px;
            height: 25px;
            position: absolute;
            top: 38%;
            left: 32%;
            background: url('../images/coin.png') left center;
            opacity: 1;
            animation: up 500ms;
            z-index: 2;
        }
    }
}