@keyframes jump-out {
    100% {
        background-position: -688px;
    }
}

@keyframes tease {
    100% {
        background-position: -240px;
    }
}

body {
    display: flex;
    justify-content: center;
    background-color: #25131A;
    // align-items: center;

}

.container {}

.bracket-frame {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    margin: 0 auto;
    background: url(../images/tileset-01-01.jpg) top left / cover no-repeat;
    padding: 50px;

    .bracket {
        width: 80px;
        height: 80px;
        margin: 1px;
        background: url('../images/wake-up.png') left center;

        &.active {
            // background-color: red;
            animation: jump-out 1s steps(9) forwards;

        }
    }
}

.score {
    margin: 10px 20px;
    display: grid;
    grid-template-columns: repeat(10, 25px);
}



span {
    padding: 5px;
    color: white;
    font-weight: bold;
    margin: 2px;

    &.success {
        background-color: green;
    }

    &.fail {
        background-color: red;

    }
}